* {
    margin: 0;
    padding: 0;
}

summary {
    display: block;
}

summary::-webkit-details-marker {
    display: none;
}

details[open] {
    summary::after {
            content: "\261F";        
    }
}

.sort {
    display: flex;
    gap: 20px;

}

.box {
    background: #ffffff;
    box-shadow: 6px 4px 35px 0px rgba(0, 0, 0, 0.21);
    padding: 9px 30px 12px 9px;
    margin: 0 0 0 -9px;
}


label {
    display: flex;
    gap: 9px;
}